---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { createApiForServer } from "../../serverLib/createApiForServer";
const pageTitle = "hello page";
const apiClient = createApiForServer(Astro.locals.session?.id);
const whoamiData = await (await apiClient.api.users.whoami.$get()).json();
---

<BaseLayout pageTitle={pageTitle}>
	<button id="whoami-btn">whoami</button>
	<script>
		import { createApiForClient } from "../../clientScripts/createApiForClient";

		const button = document.querySelector("button#whoami-btn")!;
		button.addEventListener("click", async () => {
			const apiClient = createApiForClient();
			const whoamiData = await (await apiClient.api.users.whoami.$get()).json();
			console.log(JSON.stringify(whoamiData, null, 2));
		});
	</script>
	<pre>{JSON.stringify(whoamiData, null, 2)}</pre>
</BaseLayout>
