---
import Login from './auth/Login.astro';
import Signout from './auth/Signout.astro';
const user = Astro.locals.user;
---

<div>
	<nav>
		<a href="/">Home</a>
		<a href="/hello/page">hello/page</a>
	</nav>
</div>

<div>
	{user && (<Signout />)}
	{!user && <Login/>}
</div>