---
import { createClient } from "api-hono/src/lib/apiClient";
const token = globalThis.token;
console.log("globalThis.token", token);
const Host = Astro.request.headers.get("Host")!;
console.log("Host", Host);
const client = createClient(token!, "https://store.orderdev.local/");
const res = await client.api.users.whoami.$get();
let whoamiData;
if (res.ok) {
    whoamiData = await res.json();
    console.log("whoamiData", whoamiData);
}
---

<button id="whoami">whoAmI?</button>
<pre>{JSON.stringify({whoamiData}, null, 2)}</pre>
<script>
    import { createClient } from "api-hono/src/lib/apiClient";
    const client = createClient(window.token);
    const button = document.querySelector("button#whoami")!;
    button.addEventListener("click", async () => {
        console.log("whoAmI?");
        const whoami = await client.api.users.whoami.$get();
        console.log(whoami);
    });
</script>