---
const user = Astro.locals.user;
if (user) {
	return Astro.redirect("/");
}
// const { session } = Astro.locals;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        email: {Astro.url.searchParams.get('email')}
        <br>
		<form action="/api-auth/verify-otp" method="POST">
			<input
				type="hidden"
				name="email"
				placeholder="email address"
				value={Astro.url.searchParams.get('email')}
			/>
            <input
                type="text"
                name="code"
                required
                placeholder="code">
			<button>Login</button>
		</form>
	</body>
</html>
