---
import HelloApi from '../components/HelloApi.astro';
const user = Astro.locals.user;
// if (!user) {
//   return Astro.redirect("/login");
// }
const { session } = Astro.locals;
globalThis.token = Astro.cookies.get("auth_session")?.value!;

  // const client = createClient(Astro.cookies.get("auth_session"));
  // client.api.users
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script define:vars={{ token:  globalThis.token }}>
      window.token = token;
    </script>
  </head>
  <body>
    {user &&
      <p>Your email is: {user.email}</p>
      <p>Your user ID is: {user.id}.</p>
      <p>Youre session ID is: {session?.id}</p>
      <form method="post" action="/api-auth/logout" id="logout">
        <button>Sign out</button>
      </form>
    }
    {!user &&
      <form action="/api-auth/send-otp" method="POST">
        <input type="email" name="email" required placeholder="email address" />
        <button>Login</button>
        <button>Register</button>
      </form>
    }

  <HelloApi />
  </body>
</html>
