---
import BaseLayout from "../layouts/BaseLayout.astro";
// import { createApiForServer } from "../serverLib/createApiForServer";
const pageTitle = "Home Page";
// const apiClient = createApiForServer(Astro.locals.session?.id);
// const whoamiData = await (await apiClient.api.users.whoami.$get()).json();
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Home</h2>
</BaseLayout>
